
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All Anni</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400|Prata">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/card.css">
</head>

<body>
<%- include('header', { user: currentUser }) %>
<% var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] %>

<div class="container-content container-page">
    <h3 class="page-title">All Anni</h3>
    <div class="pure-g card-container">
        <% annis.forEach(function(anni){ %>
            <div class="pure-u-1 pure-u-md-1-3">
                <a class="card card-classic" href="/annis/<%= anni.id %>">
                    <div class="card-classic-image" style="background-image: url('/images/annis/<%= anni.cover%>')"></div>
                    <div class="card-classic-text">
                        <h4 class="card-title"><%= anni.title%></h4>
                        <p class="card-date"><%= months[anni.month - 1]%> <%= anni.day%></p>
                        <div class="card-actions">
                            <div class="card-action">
                                <i class="fas fa-heart"></i>
                                <span><%= anni.likeCount%></span>
                            </div>
                            <div class="card-action">
                                <i class="fas fa-bookmark"></i>
                                <span><%= anni.bookmarkCount%></span>
                            </div>
                            <div class="card-action">
                                <i class="fas fa-comment"></i>
                                <span><%= anni.comments.length%></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        <% }); %>
    </div>
</div>

<%- include('footer') %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="https://code.jquery.com/jquery-3.4.0.slim.min.js" integrity="sha256-ZaXnYkHGqIhqTbJ6MB4l9Frs/r7U4jlx7ir8PJYBqbI=" crossorigin="anonymous"></script>
<script>
  $(document).ready(function(){
    $('#post').click(function() {
      // var value= $('#submit option:selected').attr('value');
      postData();
    })
  })

  function postData() {
    var data = {
      month: $('#select_month').val(),
      day: $('#select_date').val(),
      userId: $('#userId').val(),
      desc: $('#keyword').val(),
    };
    console.log(data);




    // $.ajax({
    //     url: '',
    //     method: 'POST',
    //     data: data,
    //     dataType: 'json'
    // }).done(function(ret) {
    //     console.log(ret);
    //     if (ret.success) {
    //         // Succeeded
    //         console.log(ret.data);
    //         window.location.href = "/annis/" + ret.data.anniId;
    //     } else {
    //         // Failed
    //         console.log(ret.msg);
    //         alert(ret.msg);
    //     }
    // });
  }
</script>


</body>
</html>







