<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Detail page</title>
  <!--<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css" integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous">-->
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400|Prata">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script type="text/javascript" src="script-detail-page.js"></script>
</head>
<body>



<div class="main-body">
  <div class="annis-cover">

    <div class="cover-img-container">
      <img src="<%= cover %>">

    </div>

    <div class="cover-front-top-triangle">
      <img src="img/cover-front-top-triangle.svg" alt="">
    </div>
    <div class="cover-front-bottom-triangle">
      <img src="/images/annis/cover-front-top-triangle.svg" alt="">
    </div>
    <div class="cover-back-left-triangle">
      <img src="/images/annis/cover-back-left-triangle.svg" alt="">
    </div>
    <div class="cover-back-right-triangle">
      <img src="/images/annis/cover-front-top-triangle.svg" alt="">
    </div>

    <div class="cover-title-container">
      <div class="cover-title-number-container">
        <div class="cover-title-number">
          <p><%= count %></p>
        </div>
        <div class="cover-title-number-th">
          <p>th</p>
        </div>
      </div>
      <div class="cover-title-text">
        <p><%= title %></p>
      </div>
      <div class="cover-title-date">
        <% var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] %>
        <p><%= months[month-1] %> <%= day %>, 2019</p>
      </div>

      <div class="cover-slider-container">
        <div class="slider-background">
          <div class="button-slider-icon">
            <i class="fas fa-birthday-cake"></i>
          </div>
          <div class="button-text-container">
            <p>Slide to send a cake</p>
          </div>
        </div>
        <div class="celebrate-text">
          <p>Celebrate this anniversary with people around the world!</p>
        </div>
      </div>

    </div>



    <div class="cover-background"></div>

  </div>

</div>

<div class="like-bookmark-edit-container">
  <div class="outline-icon-container">
    <div class="outline-icon-like">
      <i class="fas fa-heart"></i>
    </div>
  </div>
  <div class="outline-icon-container">
    <div class="outline-icon-bookmark">
      <i class="fas fa-bookmark"></i>
    </div>
  </div>
  <div class="outline-icon-container">
    <div class="outline-icon-edit">
      <i class="fas fa-pen"></i>
    </div>
  </div>
</div>

<section class="detail-page-main-body">
  <div class="anni-and-memo-container">
    <div class="pure-g container">
      <div class="pure-u-1 pure-u-md-2-3">
        <div class="anni-container">
          <!--Basic info-->
          <div class="content-container">
            <div class="content-title">
              <h1>BASIC INFO</h1>
            </div>
            <div class="basic-info-content">
              <p><%= desc %></p>
            </div>
          </div>
          <!--Album-->
          <div class="content-container">
            <div class="content-title">
              <h1>ALBUM</h1>
            </div>
            <div class="album-container">
              <% images.forEach(function(image){ %>
                <div class="album-img-container">
                  <div class="album-img" style="background-image: url('/images/annis/<%= images.image%>');"></div>
                </div>
                <div class="album-detail-popup-container">
                  <!--<div class="cross-icon">-->
                  <i class="fas fa-times cross-icon"></i>
                  <!--</div>-->
                  <div class="album-detail-popup-img-container">
                    <div class="album-img" style="background-image: url('/images/annis/<%= images.image%>');"></div>
                  </div>
                  <div class="album-detail-popup-caption">
                    <p><%= images.caption%></p>

                  </div>
                </div>
              <% }) %>

            </div>
          </div>



          <!--<div class="see-more-container">-->
          <!--<div class="see-more-triangle">-->
          <!--</div>-->
          <!--<div class="see-more-text">-->
          <!--<p>See more</p>-->
          <!--</div>-->
          <!--</div>-->




        </div>
      </div>


      <!--Memos-->

      <div class="pure-u-1 pure-u-md-1-3">
        <div class="memo-container">
          <div class="add-memo">
            <div class="input-box">
              <input type="text" placeholder="Add memos here...">

              <div class="memo-send-icon">
                <i class="fas fa-paper-plane"></i>
              </div>
            </div>
          </div>

          <div class="hot-memos">
            <% if (comments.length === 0 ) { %>
              <p class="no-comment">No comment.</p>
            <% } else { %>
              <% comments.forEach(function(comment){ %>
                <div class="memo-card">
                    <div class="memo-original">
                      <div class="memo-account-photo-container">
                        <div class="account-photo"><img src="/images/avatars/<%= comment.userAvatar%>"></div>
                      </div>
                      <div class="memo-text-container">
                        <div class="user-name">
                          <p>@</p><p><%= comment.userName %></p>
                        </div>
                        <div class="memo-time">
                          <p><%= comment.creatAt %></p>
                        </div>
                        <div class="memo-content">
                          <p><%= comment.content %></p>
                        </div>
                        <div class="memo-like-and-comment">
                          <div class="memo-like">
                            <div class="memo-icon">
                              <i class="fas fa-thumbs-up"></i>
                            </div>
                            <div class="memo-stat">
                              <p><%= comment.likeCount %></p>
                            </div>
                          </div>
                          <div class="memo-comment">
                            <div class="memo-icon">
                              <i class="fas fa-comment"></i>
                            </div>
                            <div class="memo-stat">
                              <p><%= comment.replies.length %></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="memo-reply-container">
                      <div class="reply-input-container">
                        <div class="input-box">
                          <input type="text" placeholder="Reply here...">
                          <div class="memo-send-icon">
                            <i class="fas fa-paper-plane"></i>
                          </div>
                        </div>
                      </div>
                      <% comment.replies.forEach(function(reply){ %>
                        <div class="memo-reply">
                          <div class="memo-account-photo-container">
                            <div class="account-photo"></div>
                          </div>
                          <div class="memo-text-container">
                            <div class="user-name">
                              <p>@</p><p><%= reply.userName %></p>
                            </div>
                            <div class="memo-time">
                              <p><%= reply.creatAt %></p>
                            </div>
                            <div class="memo-content">
                              <p>Reply <p>@</p><p style="color: #C6A48F"><%= comment.userName %></p><p>: </p><p><%= reply.content %></p>
                            </div>
                            <!--<div class="memo-like-and-comment">-->
                              <!--<div class="memo-like">-->
                                <!--<div class="memo-icon">-->
                                  <!--<i class="fas fa-thumbs-up"></i>-->
                                <!--</div>-->
                                <!--<div class="memo-stat">-->
                                  <!--<p>1</p>-->
                                <!--</div>-->
                              <!--</div>-->
                            <!--</div>-->
                          </div>
                        </div>
                      <% }); %>
                    </div>
                  </div>
              <% }) %>
            <% } %>
          </div>

        </div>
      </div>


    <!--</div>-->
  </div>

  <!--<script>-->
    <!--$(document).ready(function(){-->
      <!--$(".memo-reply-container").hide();-->
      <!--$(".memo-comment .memo-icon i").click(function(){-->
        <!--$(this).closest(".memo-card").find(".memo-reply-container").toggle();-->
      <!--});-->
    <!--});-->

  <!--</script>-->

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
  $(document).ready(function(){
    $(".album-detail-popup-container").hide();
    $(".album-container").click(function(){
      $(".album-detail-popup-container").show();
    });
    $(".cross-icon").click(function () {
      $(this).parent(".album-detail-popup-container").hide();
    });
  });
</script>

<script>
  $(document).ready(function(){
    $(".memo-reply-container").hide();
    $(".memo-comment .memo-icon i").click(function(){
      $(this).closest(".memo-card").find(".memo-reply-container").toggle();
    });
  });

</script>


</body>
</html>
