<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Anni - <%= title %></title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400|Prata">
  <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>

<%- include('header', { user: currentUser }) %>



<div class="main-body">
  <div class="annis-cover">

    <div class="cover-img-container">
      <div class="cover-img"  style="background-image: url('/images/annis/<%= cover %>');">
      </div>
      <!--<img src="/images/annis/<%= cover %>">-->

    </div>

    <!--<div class="cover-front-top-triangle">-->
      <!--<img src="img/cover-front-top-triangle.svg" alt="">-->
    <!--</div>-->
    <div class="cover-front-bottom-triangle">
      <img src="/images/annis/cover-front-top-triangle.svg" alt="">
    </div>
    <div class="cover-back-left-triangle">
      <img src="/images/annis/cover-back-left-triangle.svg" alt="">
    </div>
    <div class="cover-back-right-triangle">
      <img src="/images/annis/cover-front-top-triangle.svg" alt="">
    </div>

    <div class="cover-title-container">
    <% if (2019 - year > 0) { %>
      <div class="cover-title-number-container">
        <div class="cover-title-number">
          <p><%= 2019 - year %></p>
        </div>
        <div class="cover-title-number-th">
          <p>th</p>
        </div>
      </div>
    <% } %>

      <div class="cover-title-text">
        <p><%= title %></p>
      </div>
      <div class="cover-title-date">
        <% var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] %>
        <p><%= months[month-1] %> <%= day %>, <%= year %></p>
      </div>

      <div class="cover-slider-container">
        <div class="slider-background">
          <div class="button-slider-icon">
            <i class="fas fa-birthday-cake"></i>
          </div>
          <div class="button-text-container">
            <p>Slide to send a cake</p>
          </div>
        </div>
        <div class="celebrate-text">
          <p>Celebrate this anniversary with people around the world!</p>
        </div>
      </div>

    </div>



    <div class="cover-background"></div>

  </div>

</div>

<div class="like-bookmark-edit-container">
  <div class="outline-icon-container">
    <div class="outline-icon-like">
      <i class="fas fa-heart"></i>
    </div>
  </div>
  <div class="outline-icon-container">
    <div class="outline-icon-bookmark">
      <i class="fas fa-bookmark"></i>
    </div>
  </div>
  <div class="outline-icon-container">
    <div class="outline-icon-edit">
      <i class="fas fa-pen"></i>
    </div>
  </div>
</div>

<section class="detail-page-main-body">
  <div class="anni-and-memo-container">
    <div class="pure-g container">
      <div class="pure-u-1 pure-u-md-2-3">
        <div class="anni-container">
          <!--Basic info-->
          <div class="content-container">
            <div class="content-title">
              <h1>BASIC INFO</h1>
            </div>
            <div class="basic-info-content">
              <p><%= desc %></p>
            </div>
          </div>
          <!--Album-->
          <div class="content-container">
            <div class="content-title">
              <h1>ALBUM</h1>
            </div>
            <div class="album-container">
              <% images.forEach(function(image){ %>
                <div class="album-img-container">
                  <div class="album-img" style="background-image: url('/images/annis/<%= image.image %>');"></div>
                </div>
                <div class="album-detail-popup-container">
                  <!--<div class="cross-icon">-->
                  <i class="fas fa-times cross-icon"></i>
                  <!--</div>-->
                  <div class="album-detail-popup-img-container">
                    <div class="album-img" style="background-image: url('/images/annis/<%= image.image %>');"></div>
                  </div>
                  <div class="album-detail-popup-caption">
                    <p><%= image.caption%></p>
                  </div>
                </div>
              <% }) %>

            </div>
          </div>


          <div class="web-footer">
            <%- include('footer') %>
          </div>

          <!--<div class="see-more-container">-->
          <!--<div class="see-more-triangle">-->
          <!--</div>-->
          <!--<div class="see-more-text">-->
          <!--<p>See more</p>-->
          <!--</div>-->
          <!--</div>-->

        </div>
      </div>


      <!--Memos-->

      <div class="pure-u-1 pure-u-md-1-3">
        <div class="memo-container">
          <div class="add-memo">
            <div class="input-box">

              <input type="text" placeholder="Add memos here..." id="input-comment">

              <div class="memo-send-icon" id="btn-comment-send">
                <i class="fas fa-paper-plane"></i>
              </div>
            </div>
          </div>

          <div class="hot-memos">
            <% if (comments.length === 0 ) { %>
              <p class="no-comment">No comment.</p>
            <% } else { %>
              <% comments.forEach(function(comment){ %>
                <div class="memo-card" id="memo-card">
                    <div class="memo-original">
                      <div class="memo-account-photo-container">
                        <div class="account-photo" style="background-image: url('/images/avatars/<%= comment.userAvatar%>'); background-size: cover;"></div>
                      </div>
                      <div class="memo-text-container">
                        <div class="user-name">
                          <p>@</p><p><%= comment.userName %></p>
                        </div>
                        <div class="memo-time">
                          <p><%= comment.creatAt %></p>
                        </div>
                        <div class="memo-content">
                          <p><%= comment.content %></p>
                        </div>
                        <div class="memo-like-and-comment">
                          <div class="memo-like">
                            <div class="memo-icon">
                              <i class="fas fa-thumbs-up"></i>
                            </div>
                            <div class="memo-stat">
                              <p><%= comment.likeCount %></p>
                            </div>
                          </div>
                          <div class="memo-comment">
                            <div class="memo-icon">
                              <i class="fas fa-comment"></i>
                            </div>
                            <div class="memo-stat">
                              <p><%= comment.replies.length %></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="memo-reply-container">
                      <div class="reply-input-container">
                        <div class="input-box">
                          <input type="text" placeholder="Reply here...">
                          <div class="memo-send-icon">
                            <i class="fas fa-paper-plane"></i>
                          </div>
                        </div>
                      </div>
                      <% comment.replies.forEach(function(reply){ %>
                        <div class="memo-reply">
                          <div class="memo-account-photo-container">
                            <div class="account-photo"></div>
                          </div>
                          <div class="memo-text-container">
                            <div class="user-name">
                              <p>@</p><p><%= reply.userName %></p>
                            </div>
                            <div class="memo-time">
                              <p><%= reply.creatAt %></p>
                            </div>
                            <div class="memo-content">
                              <p>Reply <p>@</p><p style="color: #C6A48F"><%= comment.userName %></p><p>: </p><p><%= reply.content %></p>
                            </div>
                            <!--<div class="memo-like-and-comment">-->
                              <!--<div class="memo-like">-->
                                <!--<div class="memo-icon">-->
                                  <!--<i class="fas fa-thumbs-up"></i>-->
                                <!--</div>-->
                                <!--<div class="memo-stat">-->
                                  <!--<p>1</p>-->
                                <!--</div>-->
                              <!--</div>-->
                            <!--</div>-->
                          </div>
                        </div>
                      <% }); %>
                    </div>
                  </div>
              <% }) %>
            <% } %>
          </div>

        </div>
      </div>


    </div>
  </div>

  <!--<script>-->
    <!--$(document).ready(function(){-->
      <!--$(".memo-reply-container").hide();-->
      <!--$(".memo-comment .memo-icon i").click(function(){-->
        <!--$(this).closest(".memo-card").find(".memo-reply-container").toggle();-->
      <!--});-->
    <!--});-->

  <!--</script>-->

</section>

<div class="mobile-footer">
  <%- include('footer') %>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<input type="hidden" id="user-id" value="<%= userId %>">
<input type="hidden" id="anni-id" value="<%= id %>">
<input type="hidden" id="database-user-name" value="<%= userName %>">
<input type="hidden" id="anni-type" value="<%= type %>">



<script>
  $(document).ready(function(){
    // $(".album-detail-popup-container").hide();
    // $(".album-container").click(function(){
    //   $(".album-detail-popup-container").show();
    // });
    // $(".cross-icon").click(function () {
    //   $(this).parent(".album-detail-popup-container").hide();
    // });
  });
</script>

<script>
  $(document).ready(function(){
    // var type = Number($('#anni-type').val());
    // if (type === 1 || type === 2) {
    //   $('.cover-title-number-container').show();
    // } else {
    //   $('.cover-title-number-container').hide();
    // }
  });
</script>

<script>
  $(document).ready(function(){
    $(".memo-reply-container").hide();
    $(".memo-comment .memo-icon i").click(function(){
      $(this).closest(".memo-card").find(".memo-reply-container").toggle();
    });
  });
</script>


<script>
  function commentPost() {
    var data = {
      content: $('#input-comment').val(),
      parentId: 0,
      userId: Number($('#user-id').val()),
      anniId: Number($('#anni-id').val()),
      userName: $('#database-user-name').val()
      // status: $('#btn-login').data("str"),
    };
    var url = '/annis/'+ data.anniId +'/comments';
    console.log(data);
    console.log(url);

    $.ajax({
      method: 'POST',
      url: url,
      data: data,
      dataType: 'json',
    }).done(function(ret) {
      // console.log('RETURN', ret);
      if (ret.success) {
        // Succeeded

        console.log(ret.data);
        var userName = data.userName;
        var newCommentContent = data.content;
        var newComment =
          // '<div class="memo-card">'
          '<div class="memo-card" id="memo-card">\n<div class="memo-original">\n<div class="memo-account-photo-container">\n<div class="account-photo" style="background-image: url(\'/images/avatars/sample-avatar.jpg\'); background-size: cover;"></div>\n</div>'+
          '<div class="memo-text-container"><div class="user-name">\n' +
          '<p>@</p><p>' + userName + '</p>' +
          '</div>' +
          '<div class="memo-time">\n' +
          '<p>' + 'time' + '</p>\n' +
          '</div>' +
          '<div class="memo-content">' +
          '<p>' + newCommentContent + '</p>' +
          '<div class="memo-like-and-comment">\n<div class="memo-like">\n<div class="memo-icon">\n<i class="fas fa-thumbs-up"></i>\n</div>' +
          '<div class="memo-stat">' +
          '<p>0</p>' +
          '</div>\n</div>\n<div class="memo-comment">\n<div class="memo-icon">\n<i class="fas fa-comment"></i>\n</div>\n<div class="memo-stat">\n<p>0</p>' +
          '</div>\n</div>\n</div>\n</div>\n</div>\n</div>\n</div>'

          // '</div>'
              // '<div class="user-name">\n'
              // '<p>' + userName + '</p>\n' +
              // '</div>';
              // '<div class="memo-content">\n'
              // '<p>' + newCommentContent + '</p>\n' +
              // '</div>';

        $('.hot-memos').prepend(newComment);

        // $('.hot-memos').append($('#memo-card').html(newComment));

        // $('#memo-card').append(newComment);
        $('#input-comment').val('');



      } else {
        // Failed
        console.log(ret.msg);
        alert(ret.msg);
        // location.reload();
      }
    });
  }

  $(document).ready(function(){
    $('#btn-comment-send').click(function(){
      commentPost();
    });


  });
</script>


</body>
</html>
