
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Anni</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400|Prata">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/anni-all.css">
</head>

<body>
<%- include('header', { user: currentUser }) %>

<div class="anniall_body">
    <h1>ALL ANNIVERSARIES</h1>
    <div class="selection_collection pure-g">
        <div class="select1 pure-u-1 pure-u-md-1-8">
            <div class="select_body style=width:100%">
                <select id="select_month">
                    <option value="0">Month</option>
                    <option value="1">January</option>
                    <option value="2">Febuary</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </div>
        </div>
        <div class="select2 pure-u-1 pure-u-md-1-8">
            <div class="select_body style=width:100%">
                <select id="select_date">
                    <option value="0">Date</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select>
            </div>
        </div>
        <form class="textarea pure-u-1 pure-u-md-1-3">
            <div class="form_body">
                <textarea id="keyword" placeholder="Keywords"></textarea>
            </div>
        </form>
    </div>


    <div class="anniall">
        <div class="last_row pure-g container">
            <% annis.forEach(function(anni){ %>
                <div class="first_group_last_row pure-u-1 pure-u-md-1-3">
                    <div class="last_row_image style= width:100%">
                        <img class="pure-img" src="/images/annis/<%=anni.cover%>">
                    </div>
                    <div class="annotation">
                        <h2 class="text-box-head"><%= anni.title %></h2>
                        <% var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] %>
                        <h3 class="text-box-subhead"><%= months[anni.month-1] %> <%= anni.day %>, 2019</h3>
                    </div>
                </div>
            <% }); %>
        </div>

    </div>
</div>

<%- include('footer') %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="https://code.jquery.com/jquery-3.4.0.slim.min.js" integrity="sha256-ZaXnYkHGqIhqTbJ6MB4l9Frs/r7U4jlx7ir8PJYBqbI=" crossorigin="anonymous"></script>
<script>
  $(document).ready(function(){
    $('#post').click(function() {
      // var value= $('#submit option:selected').attr('value');
      postData();
    })
  })

  function postData() {
    var data = {
      month: $('#select_month').val(),
      day: $('#select_date').val(),
      userId: $('#userId').val(),
      desc: $('#keyword').val(),
    };
    console.log(data);




    // $.ajax({
    //     url: '',
    //     method: 'POST',
    //     data: data,
    //     dataType: 'json'
    // }).done(function(ret) {
    //     console.log(ret);
    //     if (ret.success) {
    //         // Succeeded
    //         console.log(ret.data);
    //         window.location.href = "/annis/" + ret.data.anniId;
    //     } else {
    //         // Failed
    //         console.log(ret.msg);
    //         alert(ret.msg);
    //     }
    // });
  }
</script>


</body>
</html>







